body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #0c0a0a;
}

header {
    margin-bottom: 20px;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #0056b3;
}

main {
    padding: 20px;
}

.dashboard {
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dashboard h1 {
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 10px;
}

.dashboard p {
    font-size: 1.2rem;
    color: #000000;
}

footer {
    text-align: center;
    background-color: #054585;
    color: #fff;
    padding: 10px 0;
    margin-top: 25px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

img{
    max-width: 500px;
    height: 600px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}